.ball {
    position: fixed;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    /* transition: all linear 0.5s; */
    transition: left 1s linear, top 1s ease-in;

}
.finishBall {
    position: fixed;
    left: 30px;
    top: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    transition: all linear 0.5s;
}